body {
    padding: 0;
    margin: 0;
    font-family: "open sans";
    font-weight: 300;
}


.phone-view-container{
    position: absolute;
    left: 33px;
    top: 122px;
    width: 320px;
    z-index: 2;
}


@media (max-width: 385px) {
    .phone-frame{
        display: none;
    }

    .phone-view-container{
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}


.famous-angular-container {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/* APP STYLES */


.side-view-button i{
    text-align: center;
    color: white;
    font-size: 16px;
    position: absolute;
    top: 35px;
    left: 16px;
}


.navheader i {
    color: #ccc;
    position: absolute;
    top: 11px;
    left: 10px;
    font-size: 16px;
}

.navheader {
    background-color: #2d5d81;
    /*box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.5);*/
    box-shadow: 0 2px 5px 0 rgba(0,0,0, 0.5);
}

.navheader span, .navsubheader span {
    color: #ccc;
    position: absolute;
    top: 9px;
    left: 0px;
    font-size: 14px;
    text-align: center;
    width: 100%;
}

.navsubheader span {
    color: white;
    font-size: 1.1em;
    text-align: left;
    padding: 7px 25px 0 25px;
}

.navsubheader {
    background-color: #1095ca;
    /*box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.5);*/
    box-shadow: 0 2px 5px 0 rgba(0,0,0, 0.5);
}



/*  category list  */

.listCategoryItem {
    box-shadow: 0 2px 5px 0 rgba(0,0,0, 0.25);
}

.listCategoryItem .categoryHeaderText {
    color: #888;
    font-weight: 100;
    font-size: 1.1em;
    position: absolute;
    top: 5px;
    left: 7px;
}

.listCategoryItem .categoryHeaderIcons {
    position: absolute;
    right: 12px;
    top: 6px;
}

.listCategoryItem .categoryHeaderIcons i {
    color: #888;
    font-size: 0.9em;
    margin-left: 6px;
}

/*  entry list  */
.listEntryItem {

}

.listEntryItem .entryPictureRound {
    position: absolute;
    left: 8px;
    top: 5px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;

}

.listEntryItem .entryContentText {
    text-align: left;
    font-size: 0.7em;
    color: #888;
    position: absolute;
    top: 2px;
    left: 58px;
    padding-right: 60px;
}

.listEntryItem .entryContentText strong {
    font-weight: 500;
    color: #000;
}

.listEntryItem .entryMetaInfo {
    text-align: left;
    font-size: 0.7em;
    color: #888;
    position: absolute;
    top: 2px;
    right: 13px;
}

.listEntryItem .entryMetaInfo i {
    color: #ccc;
    margin-left: 5px;
}


.detailcard {
    background-color: #2d5d81;
    color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0, 0.5);
}