body {
    padding: 0;
    margin: 0;
    font-family: "open sans";
    font-weight: 300;
}


.phone-view-container{
    position: absolute;
    left: 33px;
    top: 122px;
    width: 320px;
    z-index: 2;
}


@media (max-width: 385px) {
    .phone-frame{
        display: none;
    }

    .phone-view-container{
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}


.famous-angular-container {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/* APP STYLES */
.side-view-button {
    text-align: center;
    color: white;
    font-family: "ios7-style-font-icons";
    font-size: 14px;
    line-height: 90px;
}

.fa.fa-arrows-alt {
    color: #888;
    position: absolute;
    top: 9px;
    left: 10px;
    font-size: 18px;
}

.navheader {
    background-color: #2d5d81;
    /*box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.5);*/
    box-shadow: 0 2px 5px 0 rgba(0,0,0, 0.5);
}

.navheader span, .navsubheader span {
    color: #aaa;
    position: absolute;
    top: 9px;
    left: 0px;
    font-size: 14px;
    text-align: center;
    width: 100%;
}

.navsubheader span {
    color: white;
    font-size: 18px;
    text-align: left;
    padding: 7px 25px 0 25px;
}

.navsubheader {
    background-color: #1095ca;
    /*box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.5);*/
    box-shadow: 0 2px 5px 0 rgba(0,0,0, 0.5);
}

.listCategoryItem {
    text-align: left;
    font-weight: 500;
    padding: 7px 10px 0 10px;
    color: #aaa;
    box-shadow: 0 2px 5px 0 rgba(0,0,0, 0.25);
}


.listEntryItem {
    text-align: left;
    padding: 7px 10px 0 10px;
    color: #aaa;
}