<fa-view >

    <fa-modifier  fa-translate="getNavSubheaderPos()">
        <fa-surface ng-class="'navsubheader'" fa-size="[undefined, 150]">
            Welcome !
        </fa-surface>
    </fa-modifier>
    <fa-modifier  fa-translate="[0,0]">
        <fa-surface fa-background-color="'#eee'" >
        </fa-surface>
    </fa-modifier>

    <fa-modifier fa-translate="[0,0,2]">
        <fa-container-surface fa-options="{size: [appOptions.appSize[0], undefined], properties: {overflow: 'hidden'}}">
            <fa-scroll-view id="scrollview-1" fa-pipe-from="myscrollEventHandler" fa-options="{direction: 1}">
                <fa-view fa-size="[undefined, 1200]">
                    <fa-view ng-repeat="catitem in list" ng-init="catIndex = $index">
                        <fa-modifier fa-translate="catitem.transitPos.get()"
                                     fa-size="catitem.transitSize.get()">
                            <fa-surface fa-pipe-to="myscrollEventHandler"
                                        fa-background-color="{{catitem.color}}"
                                        ng-class="'listCategoryItem'"
                                        ng-click="">
                                {{catitem.category}} {{catitem.title}}
                            </fa-surface>
                        </fa-modifier>

                    <fa-view ng-repeat="entryitem in catitem.entries" ng-init="entryIndex = $index">
                        <fa-modifier fa-translate="entryitem.transitPos.get()"
                                     fa-size="entryitem.transitSize.get()">
                            <fa-surface fa-pipe-to="myscrollEventHandler"
                                        fa-background-color="{{entryitem.color}}"
                                        ng-class="'listEntryItem'"
                                        ng-click="testListAnimation(catIndex, entryIndex)">
                                {{entryitem.title}}
                            </fa-surface>
                        </fa-modifier>
                    </fa-view>


                    </fa-view>
                </fa-view>

            </fa-scroll-view>
        </fa-container-surface>
    </fa-modifier>

    <div ui-view="detailView"></div>
</fa-view>